.noProduct{
  text-align:center;
}

.searchBox{


  width:50%;
  margin:auto;
}

table{
width:80%;
margin:auto;
}

th{
  background-color:#f59c73;
  border:1px solid #c2c1c0;
}

td{
  background-color:#f3e5de;
  border:1px solid #c2c1c0;
}

.editBtn{
  background-color:transparent;
  border:none;
}

.tdVisible {
  visibility: visible;
}

.tdHidden {
  visibility: none;
}
