<div class="d-flex flex-column justify-content-center">

  <div>
<table class="table" *ngIf="productList.length> 0  ; else noProduct">
  <thead>
    <tr>
      <td colspan="3">
        <div class="searchBox">
        <app-search  [list]="productList" (filteredListEmitter)="onListFiltered($event)" *ngIf="productList.length> 0"></app-search>
      </div>
      </td>
      </tr>
  <tr>
   <th>Name</th>
  <th>Price (in $)</th>
  <th>Color</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of filteredProdList">

  <td (dblclick)="OnProdDblClicked(product.id)">{{ product.name }}</td>
  <td (dblclick)="OnProdDblClicked(product.id)">{{ product.price }}</td>
  <td (dblclick)="OnProdDblClicked(product.id)">{{ product.color }}</td>
  <td class="editBtn" ><button type="button" class="btn btn-outline-primary" (click)="onProdEdit(product)" [style.visibility]="(EditVisibility === product.id &&!editClicked) ? 'visible' : 'hidden'">Edit</button></td>
</tr>
  <tr *ngIf="filteredProdList.length == 0">
    <td colspan="3">No Products to Display</td>
    </tr>
  </tbody>
  </table>
  <ng-template #noProduct>

  <h5 class="noProduct">  No Products to display</h5>
    </ng-template>
  </div>
  </div>
