.card {
  margin:20px;
  border:1px solid #f59c73;
  }

  .card-header {
  background-color:#f2783e ;
  width:100%;
  text-align:center;
  color:white;

  }

  .cstmFlexChild{
    padding:20px;
  }





