<div class="d-flex flex-column justify-content-center">
  <div class="flex-fill cstmFlexChild" *ngIf="addProdClicked">
    <router-outlet></router-outlet>
    </div>
  <div class="flex-fill cstmFlexChild">
    <button type="button" class="btn btn-primary cstmBtn1" (click)="onAddProductClicked($event)" [disabled]="addProdClicked"><span class="PlusSign">Add Product</span></button>
  </div>
  <div>
    <hr class="flex-fill hrCstm">
  </div>
  <div class="flex-fill cstmFlexChild">
    <app-product-list></app-product-list>
  </div>
</div>

